main{
    position: relative;
    top: 60px;
}

.content-one{
    width: 100%;
}

.content-portada{
    width: 100%;
    height: 600px;

    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
}


#container {
    position: relative;
    text-align: center;
    color: white;
}


#centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

  

@media screen and (max-width:1500px){
    .content-portada{
        background-size: 2000px;
    }
}

.content-itemone{
    width: 700px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 60px;
}
.image1{
    width: 28%;
    padding: 16px;
    text-align: left;
}

.content-itemone h4{
    color: white;
    font-size: 40px;
    font-weight: 100;
}

.content-itemone h3{
    color: white;
    font-size: 60px;
}

.content-itemone h2{

    color: white;
    font-size: 40px;
    font-weight: 100;

}

@media screen and (max-width:800px){
    .content-itemone{
        width: 100%;
    }
}

/* Segunda parte del content */

.content-two{
    width: 100%;
    padding: 40px;
    background: #f2f2f2;
}
.image2{
    width: 28%;
    padding: 16px; 
    text-align: center;
}

.content-details{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.content-item2{
    width: 300px;
    text-align: center;
    margin: 20px;

}

/* tercera parte Content */

.content-three{
    width: 100%;
    background: #f7f7f7;
    padding: 40px;
    
}

.image3{
    width: 35%;
    padding: 16px;
    text-align: right;
}

.content-module{
    width: 80%;
    margin: auto;
    text-align: center;
    
}

@media screen and (max-width:600px){
    .content-module{
        width: 100%;
    }
}

/* .content-module h3{
   
} */

.content-module img{
    margin-top: 40px;
    transition: all 300ms;
}

.content-module img:hover{
    transform: rotate(-10deg);
    transition: all 300ms;

}






















/* #main{
    width: 100%;
    height: auto; overflow: hidden;
    border: 0px solid #000;
    margin: auto;
}

header.myheader{
    width: 100%;
    height: 120px;
    color: red;

}

#logo{
    width: 50%;
    height: 20%;
    float: right;
} */

/*.menu{
    width:630px;
    height: 55px;
    border: 0px solid #ccc;
    float: right;
    margin-top: 30px;
    background: #a5b0b6;
    border-radius: 10px;
    overflow: hidden;
    display: block;
}*/

/* .menu{
max-width: 80%;
min-height: 50px;
background-color: #a5b0b6;
margin: 0 auto;   
border-radius: 10px;
overflow: hidden;

}


.menu ul{
list-style: none;
display: flex;
justify-content: center;
background-color: #006699
border-ra
}

.menu a{
    color: #000;
    display: block;
    text-decoration: none;
   
}


.menu ul li a{
padding: 10px 15px;
border: 0px solid #ccc;
font-family: Arial;
font-size: 18px;

} */


/* .menu ul ul {
    display: none;
    position: absolute;
}

.menu ul li:hover ul{
  display: block;
    
}

.menu ul li a:hover{
    background: #29343a;
    color: #fff;
    transform: background 1s, color 1s;
    border-radius: 10px;
    
 }


#slide{
    margin-top: 10px;
    width: 100%;
    height: 60%;
}

#categorias{
    width: 100%;
    height: auto; overflow: hidden;
    border: 0px solid;
    margin-top: 10px;

}

.one{
    width: 40%;
    height: auto; overflow: hidden;
    float: left;
    padding: 5px;
    text-align: center;
}

.two{
    margin-left: 60%;
    margin-right: 12px;
    text-align: center;
}

.leer-mas{
text-decoration: none;
border: 1px solid #006699;
padding: 10px 20px 10px 20px;
margin: 10px;
}

.leer-mas:hover{
background: #006699;
color: #fff;
transform: background 1s, color 1s;
}

#fin{
    width: 290px;
    height: 100px;
    text-align: center;
}

#fin{
    width: 1100px;
    color: blue;
} */